<template>
    <div class="container">
        <div class="loading" :class="{'d-none': !loading}"></div>
        <div class="card">
            <div class="card-header text-center">
                <h2>Lista server</h2>
            </div>
            <div class="card-body">
                <div class="text-end mb-3">
                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#newServer">Nuovo server</button>
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#trashedServer" v-if="trashed.length">Ripristina</button>
                </div>
                <table class="table table-striped table-bordered align-middle">
                    <thead>
                        <tr>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Ram totale</th>
                            <th class="text-center">Ram restante</th>
                            <th class="text-center">VPS totali</th>
                            <th class="text-center actions-container-lg">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="server in active">
                            <td>{{ server.name }}</td>
                            <td class="text-end">{{ server.total_ram }} Mb</td>
                            <td class="text-end">{{ server.remaining_ram_formatted }} Mb</td>
                            <td class="text-center">{{ server.vps_count }}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-success" type="button" @click.prevent="managerVPS(server)">Gestione VPS</button>
                                <button class="btn btn-sm btn-primary" type="button" @click.prevent="editServer(server)">Modifica</button>
                                <button class="btn btn-sm btn-danger" type="button" @click.prevent="confirmServer(server)">Cancella</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                Totale server: {{ active.length }}
            </div>
        </div>
        <!-- Modals -->
        <div class="modal fade" id="newServer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newServerLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form @submit.prevent="createServer">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newServerLabel">Nuovo server</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="name" name="name" v-model="fields.name" required>
                                <div class="alert alert-danger" v-if="errors && errors.name">{{ errors.name[0] }}</div>
                            </div>
                            <div class="mb-3">
                                <label for="total_ram" class="form-label">Ram totale</label>
                                <input type="number" class="form-control" id="total_ram" name="total_ram" v-model="fields.total_ram" min="0" required>
                                <div class="alert alert-danger" v-if="errors && errors.total_ram">{{ errors.total_ram[0] }}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editServer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editServerLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form @submit.prevent="updateServer">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editServerLabel">Modifica server</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" v-if="ram_error">La RAM non è sufficiente.</div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="edit_name" name="name" v-model="fields.name" required>
                                <div class="alert alert-danger" v-if="errors && errors.name">{{ errors.name[0] }}</div>
                            </div>
                            <div class="mb-3">
                                <label for="total_ram" class="form-label">Ram totale</label>
                                <input type="number" class="form-control" id="edit_total_ram" name="total_ram" v-model="fields.total_ram" min="0" required>
                                <div class="alert alert-danger" v-if="errors && errors.total_ram">{{ errors.total_ram[0] }}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteServer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteServerLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteServerLabel">Cancella server</h5>
                    </div>
                    <div class="modal-body">
                        <p>Vuoi davvero cancellare il server <span id="server-name" class="fw-bold"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Annulla</button>
                        <button type="button" class="btn btn-danger" @click.prevent="deleteServer">Cancella</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="trashedServer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="trashedServerLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="trashedServerLabel">Ripristina server</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Ram totale</th>
                                    <th class="text-center">Ram restante</th>
                                    <th class="text-center">VPS totali</th>
                                    <th class="text-center actions-container">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-for="server in trashed">
                                <td>{{ server.name }}</td>
                                <td class="text-end">{{ server.total_ram }} Mb</td>
                                <td class="text-end">{{ server.remaining_ram_formatted }} Mb</td>
                                <td class="text-center">{{ server.vps_count }}</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-warning" type="button" @click.prevent="restoreServer(server)">Ripristina</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="manageVPS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="manageVPSLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="manageVPSLabel">Gestione VPS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-end mb-3">
                            <button type="button" class="btn btn-sm btn-success" @click.prevent="newVPS">Nuovo VPS</button>
                        </div>
                        <div class="errors"></div>
                        <table class="table table-striped table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Ram</th>
                                    <th class="text-center actions-container">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="cpu in vps">
                                    <td class="text-center">{{ cpu.id }}</td>
                                    <td class="text-center">{{ cpu.ram_amount }} Mb</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-primary" type="button" @click.prevent="editVPS(cpu)" v-if="cpu.active">Modifica</button>
                                        <button class="btn btn-sm btn-danger" type="button" @click.prevent="confirmVPS(cpu)" v-if="cpu.active">Cancella</button>
                                        <button class="btn btn-sm btn-warning" type="button" @click.prevent="restoreVPS(cpu)" v-if="!cpu.active">Ripristina</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteVPS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteVPSLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteVPSLabel">Cancella VPS</h5>
                    </div>
                    <div class="modal-body">
                        <p>Vuoi davvero cancellare la VPS <span id="cpu-id" class="fw-bold"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click.prevent="closeDeleteVPS"> Annulla</button>
                        <button type="button" class="btn btn-danger" @click.prevent="deleteVPS">Cancella</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="newVPS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newVPSLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form @submit.prevent="createVPS">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newVPSLabel">Nuovo VPS</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" v-if="ram_error">La RAM disponibile non è sufficiente.</div>
                            <div class="mb-3">
                                <label for="ram_amount" class="form-label">Ram</label>
                                <input type="number" class="form-control" id="ram_amount" name="ram_amount" v-model="fields.ram_amount" min="0" required>
                                <div class="alert alert-danger" v-if="errors && errors.ram_amount">{{ errors.ram_amount[0] }}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editVPS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editVPSLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form @submit.prevent="updateVPS">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editVPSLabel">Modifica VPS</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" v-if="ram_error">La RAM disponibile non è sufficiente.</div>
                            <div class="mb-3">
                                <label for="ram_amount" class="form-label">Ram</label>
                                <input type="number" class="form-control" id="edit_ram_amount" name="ram_amount" v-model="fields.ram_amount" min="0" required>
                                <div class="alert alert-danger" v-if="errors && errors.ram_amount">{{ errors.ram_amount[0] }}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                active: [],
                trashed: [],
                vps: [],

                fields: {},
                delete: {},
                errors: {},
                server: {},
                cpu: {},

                loading: true,
                ram_error: false,

                authData: {
                    email: 'test@test.com',
                    password: 'password',
                }
            }
        },

        mounted() {
            this.login();
        },

        methods: {
            /* LOGIN */
            login: function() {
                axios.get('/sanctum/csrf-cookie').then(response => {
                    axios
                        .post('/login', this.authData)
                        .then(response => {
                            console.log(response);
                            this.loadTrashed();
                            this.loadActive();
                        });
                });
            },
            /* LOGIN */

            /* LOAD */
            loadActive: function() {
                axios
                    .get('api/v1/servers')
                    .then((response) => {
                        this.active = response.data.data;
                        this.loading = false;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            loadTrashed: function() {
                axios
                    .get('api/v1/servers/trashed')
                    .then((response) => {
                        this.trashed = response.data.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            loadVPS: function(server) {
                axios
                    .get('api/v1/servers/' + server.id + '/vps')
                    .then((response) => {
                        this.vps = response.data.data;
                        $('#manageVPS .errors').html('');
                        $('#manageVPS').modal('show');
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            /* LOAD */

            /* SERVER ACTIONS */
            createServer() {
                axios
                    .post('/api/v1/servers', this.fields)
                    .then((response) => {
                        this.fields = {};
                        this.errors = {};
                        this.loadActive();
                        $('#newServer').modal('hide');
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors;
                        }
                    });
            },

            confirmServer(server) {
                this.server = server;
                $('#deleteServer #server-name').html(server.name);
                $('#deleteServer').modal('show');
            },

            deleteServer() {
                let id = this.server.id;
                axios
                    .delete('/api/v1/servers/' + id + '/delete')
                    .then((response) => {
                        this.loadTrashed();
                        this.loadActive();
                        $('#deleteServer').modal('hide');
                    })
                    .catch((error) => {
                        console.log('Error');
                    });
            },

            restoreServer(server) {
                axios
                    .put('/api/v1/servers/' + server.id + '/restore')
                    .then((response) => {
                        this.loadTrashed();
                        this.loadActive();
                        $('#trashedServer').modal('hide');
                    })
                    .catch((error) => {
                        console.log('Error');
                    });
            },

            editServer(server) {
                axios
                    .get('api/v1/servers/' + server.id)
                    .then((response) => {
                        this.server = response.data.data
                        this.fields.name = this.server.name;
                        this.fields.total_ram = this.server.total_ram;
                        $('#editServer #edit_name').val(this.server.name);
                        $('#editServer #edit_total_ram').val(this.server.total_ram);
                        $('#editServer').modal('show');
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            updateServer() {
                this.ram_error = false;
                axios
                    .put('/api/v1/servers/' + this.server.id, this.fields)
                    .then((response) => {
                        this.fields = {};
                        this.errors = {};
                        $('#editServer').modal('hide');
                        this.loadActive();
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.ram_error = true;
                        }
                    });
            },
            /* SERVER ACTIONS */

            /* VPS ACTIONS */
            managerVPS(server) {
                this.server = server;
                this.loadVPS(server);
            },

            confirmVPS(cpu) {
                this.cpu = cpu;
                $('#deleteVPS #cpu-id').html(cpu.id);
                $('#manageVPS').modal('hide');
                $('#deleteVPS').modal('show');
            },

            closeDeleteVPS() {
                $('#deleteVPS').modal('hide');
                $('#manageVPS').modal('show');
            },

            deleteVPS() {
                let server_id = this.server.id;
                let id = this.cpu.id;
                axios
                    .delete('/api/v1/servers/' + server_id + '/vps/' + id + '/delete')
                    .then((response) => {
                        $('#deleteVPS').modal('hide');
                        this.loadActive();
                        this.loadVPS(this.server);
                    })
                    .catch((error) => {
                        console.log('Error');
                    });
            },

            restoreVPS(cpu) {
                let server_id = this.server.id;
                axios
                    .put('/api/v1/servers/' + server_id + '/vps/' + cpu.id + '/restore')
                    .then((response) => {
                        this.loadActive();
                        this.loadVPS(this.server);
                    })
                    .catch((error) => {
                        $('#manageVPS .errors').html('<div class="alert alert-danger">RAM non sufficiente per il ripristino</div>');
                    });
            },

            newVPS() {
                this.fields = {};
                this.ram_error = false;
                $('#manageVPS').modal('hide');
                $('#newVPS').modal('show');
            },

            createVPS() {
                this.ram_error = false;
                if (this.server.remaining_ram < this.fields.ram_amount) {
                    this.ram_error = true;
                    return;
                }
                axios
                    .post('/api/v1/servers/' + this.server.id + '/vps', this.fields)
                    .then((response) => {
                        this.fields = {};
                        this.errors = {};
                        $('#newVPS').modal('hide');
                        this.loadActive();
                        this.loadVPS(this.server);
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.ram_error = true;
                        }
                    });
            },

            editVPS(cpu) {
                axios
                    .get('api/v1/servers/' + this.server.id + '/vps/' + cpu.id)
                    .then((response) => {
                        this.cpu = response.data.data
                        this.fields.ram_amount = cpu.ram_amount;
                        $('#editVPS #edit_ram_amount').val(cpu.ram_amount);
                        $('#manageVPS').modal('hide');
                        $('#editVPS').modal('show');
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            updateVPS() {
                this.ram_error = false;
                axios
                    .put('/api/v1/servers/' + this.server.id + '/vps/' + this.cpu.id, this.fields)
                    .then((response) => {
                        this.fields = {};
                        this.errors = {};
                        $('#editVPS').modal('hide');
                        this.loadActive();
                        this.loadVPS(this.server);
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.ram_error = true;
                        }
                    });
            },
            /* VPS ACTIONS */
        }
    }
</script>
